.header .landing h1, .main .achivments h1, .main .approach h1 {
  font-size: 64px;
  font-weight: 900; }

.body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  width: 100%; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-family: 'Raleway', sans-serif; }
  .header .nav {
    height: 48px;
    color: white;
    background-color: rgba(57, 78, 110, 0.87);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 1.1em; }
    .header .nav h2 {
      margin: 10px 0 0 0;
      font-size: 1.5em;
      padding: 0 0 0 22px; }
    .header .nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 30em;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      list-style-type: none;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
  .header .landing {
    font-size: 22px;
    margin: 2em 0 0 0;
    padding: 0 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .landing h1 {
      font-weight: 900; }

.main {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  background-color: lightgray; }
  .main .main__doing {
    color: black;
    font-size: 20px;
    font-weight: 500;
    height: 18em;
    padding: 0 10em;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main .main__doing h1 {
      font-size: 44px;
      font-weight: 800;
      justify-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }
  .main .achivments {
    background-color: rgba(57, 78, 110, 0.87);
    height: 18em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main .achivments h1 {
      padding: 0 0.7em;
      text-align: center; }
      .main .achivments h1 p {
        font-size: 22px;
        font-weight: 500; }
  .main .approach {
    background-color: white;
    height: 70em;
    width: 85%;
    margin: 0 5em; }
