$mcolor: rgb(231, 76, 122);
$back-color: rgba(57, 78, 110, 0.87);
%h1-option{ 
    font-size: 64px;
    font-weight: 900;
}
%h2-option{ 
    font-size: 30px;
    font-weight: 700;
}

.body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
}

.header{
    display: flex;
    position: relative;
    font-family: 'Raleway', sans-serif;

    .nav{
        height: 48px;
        color: white;
        background-color: $back-color;
        display: flex;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        justify-content: space-between;
        padding: 0 1.1em;
        h2{
            margin: 10px 0 0 0;
            font-size: 1.5em;
            padding: 0 0 0 22px;
        }
        ul{
            display: flex;
            width: 30em;
            flex-flow: row nowrap;
            list-style-type: none;
            justify-content: space-between;
        }
    }
    .landing{
        font-size: 22px;
        margin: 2em 0 0 0;
        padding: 0 5em;
        display: flex;
        height: 30em;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        h1{
            @extend %h1-option;
            font-weight: 900;
        }
    }
}
.main{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    background-color: white;

    .main__doing{
        color: black;
        font-size: 20px;
        font-weight: 500;
        height: 18em;
        padding: 0 10em;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 44px;
            font-weight: 800;
            justify-self: flex-start;
            align-self: flex-start;
        }
    }
    .achivments{
        background-color: $back-color;
        height: 18em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        h1{
            @extend %h1-option;
            padding: 0 0.7em;
            text-align: center;

            p{
                font-size: 22px;
                font-weight: 500;
            }
        }
    }
    .approach{
        

        .h1-approach{
            @extend %h1-option;
            padding: 0.05em 2.5em;
        }

        .approach__grid{
            height: 110em;
            margin: 0 17% 1em 17%;
            display: grid;
            grid-template-columns: repeat(auto-fill, 50%);
            justify-items: center;
            align-items: center;
        }
        h2{
            @extend %h2-option;
            p{
                font-size: 18px;
                font-weight: 500;
                line-height: 1.8;
            }
        }
    }

    .idea{
        color: white;
        background-color: $back-color;
        height: 30em;
        width: 100%;
        margin: 1em 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        h1{
            @extend %h1-option;
        }
        p{
            font-size: 24px;
            font-weight: 400;
            padding: 0 10em 1em 10em;
            text-align: center;
        }
        .main__idea--button{
            background-color: $mcolor;
            color: white;
            text-decoration: none;
            width: 25em;
            height: 4.5em;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: flex-start;

            p{
                width: 12em;
                height: 2em;
                padding: 0;
            }
        }
        .main__idea--button:hover{
            background-color: $mcolor;
            opacity: .77;
        }
        .main__idea--button:active{
            transform: translate(1px, 5px);
        }   
    }

    .technologies{

        h1{
            @extend %h1-option;
            margin: 1em 10% 1.3em 10%;
        }
        .main__technologies--grid{
            height: 50em;
            margin: 0 10% 5em 10%;
            display: grid;
            grid-template-columns: repeat(auto-fill, 30%);
            grid-gap: 0 2.1em;
            justify-items: stretch;;
            align-items: stretch;

            div{

                h2{
                    @extend %h2-option;
                    border-bottom: $mcolor solid;
                    border-width: thick;
                    
                }
            }
        }
    }
    .photos{
        background-color: rgba(197, 195, 195, 0.507);

        h1{
            @extend %h1-option;
            padding: 1em 15% 0.3em 15%;
        }
        .main__photos--grid{
            height: 50em;
            padding: 0 15% 5em 15%;
            display: grid;
            grid-template-columns: repeat(auto-fill, 30%);
            grid-gap: 1em 1.5em;

            .img-1{ background: url(/images/photos\ 1\ 300x400.png);}
            .img-2{ background: url(/images/photos\ office\ 2\ 300x400.jpg);}
            .img-3{ background: url(/images/photos\ offiece\ 4-300x400.jpg);}
            .img-4{ background: url(/images/photos\ office-300x400.jpg);}
            .img-5{ background: url(/images/photos\ office\ 5\ 300x400.jpg);}
            .img-6{ background: url(/images/photos\ office\ 3-300x400.jpg);}

            .img{
                width: 85%;
                height: 100%; 
                cursor: pointer;
                background-position: center;
                background-repeat: no-repeat;

                border-radius: 5px;
                box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
                    
            }
            img::after{
                content: '';
                background-color: rgba(0, 0, 0, 0.87);
                width: 300px;
                height: 400px;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
            }
            img:hover{
                background-position: center center;
                background-color: $mcolor;
                width: 300px;
                height: 400px;
            }
        }
    }
}
