@import "_mixin.scss";

.body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
}

.header{
    display: flex;
    position: relative;
    font-family: 'Raleway', sans-serif;

    .nav{
        height: 48px;
        color: white;
        background-color: $back-color;
        display: flex;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        justify-content: space-between;
        padding: 0 1.1em;

        @media screen and (max-width:980px) and (min-width:768px){
            height: 36px;
        }
        @media screen and (max-width:768px) and (min-width:500px){
            height: 34px;
        }
        @media screen and (max-width:500px){
            height: 30px;
        }
        h2{
            margin: 10px 0 0 0;
            @extend %h2-option;
            padding: 0 0 0 22px;
            @media screen and (max-width:980px) and (min-width:768px){
                font-size: 22px;
            }
            @media screen and (max-width:768px) and (min-width:500px){
                font-size: 20px;
            }
            @media screen and (max-width:500px){
                font-size: inherit;
            }
        }
        ul{
            display: flex;
            width: 30em;
            flex-flow: row nowrap;
            list-style-type: none;
            justify-content: space-between;
            @media screen and (max-width:980px) and (min-width:768px){
                display: none;
            }
            @media screen and (max-width:768px) and (min-width:500px){
                display: none;
            }
            @media screen and (max-width:500px){
                display: none;
            } 

            a{
                color: white;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }
            a:focus{
                opacity: .7;
                outline: none;
            }
        }
        li:active{
            transform: translateY(0.8px);
        }
        .ul-min{
            display: none;

            @media screen and (max-width:980px) and (min-width:768px){
                display: block;
                margin: 5px 2px;
            }
            @media screen and (max-width:768px) and (min-width:500px){
                display: block;
                margin: 5px 2px;
            }
            @media screen and (max-width:500px){
                display: block;
                margin: 5px 2px;
            }
        }
    }
    .landing{
        font-size: 22px;
        color: white;
        margin: 2.2em 0 0 0;
        padding: 0 20%;
        text-align: center;
        display: flex;
        height: 38em;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background: url(/images/landing\ header\ 1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;

        h1{
            @extend %h1-option;
            font-weight: 900;

            @media screen and (max-width:768px) and (min-width:500px){
                font-size: 56px;
            }
            @media screen and (max-width:500px){
                font-size: 32px;
            }
        }

        @media screen and (max-width:980px) and (min-width:768px){
            padding: 0 15%;
            margin: 1.6em 0 0 0;
        }
        @media screen and (max-width:768px) and (min-width:500px){
            padding: 0 15%;
            margin: 1.9em 0 0 0;
            height: 32em;
            font-size: 18px;
        }
        @media screen and (max-width:500px){
            padding: 0 15%;
            margin: 2.4em 0 0 0;
            height: 38em;
            font-size: 12px;
        }
    }
}
.main{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    height: auto;

    .main__doing{
        color: black;
        font-size: 20px;
        font-weight: 500;
        height: 18em;
        padding: 0 20%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 44px;
            font-weight: 800;
            justify-self: flex-start;
            align-self: flex-start;
            

            @media screen and (max-width:980px) and (min-width:768px){
                font-size: 40px;
            }
            @media screen and (max-width:768px) and (min-width:500px){
                font-size: 36px;
            }
            @media screen and (max-width:500px){
                font-size: 26px;
            }
        }

        @media screen and (max-width:980px) and (min-width:768px){
            padding: 0 10% 5% 20%;
            font-size: 19px;
            height: 20em;
        }
        @media screen and (max-width:768px) and (min-width:500px){
            padding: 5% 3% 8% 10%;
            width: 70vw;
            font-size: 16px;
            height: 1fr;
        }
        @media screen and (max-width:500px){
            margin: 1em 0;
            padding: 3% 3% 5% 10%;
            width: 75vw;
            font-size: 12px;
            height: auto;
            
        }
    }
    .achivments{
        background-color: $back-color;
        color: white;
        height: 18em;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        h1{
            @extend %h1-option;
            padding: 0 0.7em;
            text-align: center;

            p{
                font-size: 22px;
                font-weight: 500;

                @media screen and (max-width:768px) and (min-width:500px){
                    font-size: 19px;
                    
                }
                @media screen and (max-width:500px){
                    font-size: 16x;
                }
            }

            @media screen and (max-width:980px) and (min-width:768px){
                transform: scale(.7);
                padding: 0 0.3em;
            }
            @media screen and (max-width:768px) and (min-width:500px){
                font-size: 44px;
                padding: 0 1.5em;
                
            }
            @media screen and (max-width:500px){
                font-size: 40px;
                padding: 0.3em 2%;
                width: 5em;
                height: 3em;
            }
            
        }

        @media screen and (max-width:768px) and (min-width:500px){
            height: auto;
            justify-content: space-evenly;
            
        }
        @media screen and (max-width:500px){
            padding: 0.5em 0 0.5em 25vw;
            height: auto;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: stretch;
        }
    }
    .approach{

        .h1-approach{
            @extend %h1-option;
            padding: 0.05em 2.5em;
        }

        .approach__grid{
            height: 110em;
            margin: 0 17% 1em 17%;
            display: grid;
            grid-template-columns: repeat(auto-fill, 50%);
            justify-items: center;
            align-items: center;
        }
        h2{
            @extend %h2-option;
            p{
                font-size: 18px;
                font-weight: 500;
                line-height: 1.8;
            }
        }
    }

    .idea{
        color: white;
        background-color: $back-color;
        height: 30em;
        width: 100%;
        margin: 1em 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        h1{
            @extend %h1-option;
        }
        p{
            font-size: 24px;
            font-weight: 400;
            padding: 0 10em 1em 10em;
            text-align: center;
        }
        .main__idea--button{
            background-color: $mcolor;
            color: white;
            text-decoration: none;
            width: 25em;
            height: 4.5em;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: flex-start;

            p{
                width: 12em;
                height: 2em;
                padding: 0;
            }
        }
        .main__idea--button:hover{
            background-color: $mcolor;
            opacity: .77;
        }
        .main__idea--button:active{
            transform: translate(1px, 5px);
        }   
    }

    .technologies{

        h1{
            @extend %h1-option;
            margin: 1em 10% 1.3em 10%;
        }
        .main__technologies--grid{
            height: 50em;
            margin: 0 10% 5em 10%;
            display: grid;
            grid-template-columns: repeat(auto-fill, 30%);
            grid-gap: 0 2.1em;
            justify-items: stretch;;
            align-items: stretch;

            div{

                h2{
                    @extend %h2-option;
                    border-bottom: $mcolor solid;
                    border-width: thick;
                    
                }
            }
        }
    }
    .photos{
        background-color: rgba(197, 195, 195, 0.507);

        h1{
            @extend %h1-option;
            padding: 1em 15% 0.3em 15%;
        }
        .main__photos--grid{
            height: 50em;
            padding: 0 15% 5em 15%;
            display: grid;
            grid-template-columns: repeat(auto-fill, 30%);
            grid-gap: 1em 1.5em;
            

            .main__photos__container{
                width: 300px;
                height: 400px; 
                overflow: hidden;
                position: relative;
                cursor: pointer;
                

                border-radius: 5px;
                box-shadow: 2px 2px 3px rgba(0, 0, 0, .4);
            }
            .main__photos__container::after{
                content: '';
                width: 300px;
                height: 4px;
                display: block;
                position: absolute;
                top: 400px;
                left: 0;
                

                background-color: rgba($color: $mcolor, $alpha: .87);
                transition: all .8s ease-out;
            }
            .main__photos__container:hover::after{
                width: 300px;
                height: 400px;
                top: 0;
                left: 0;
                transition: .5s ease-out;
                
            }
            .main__photos__container:hover::after{
                content: 'Project 1';
                position: absolute;
                
            }


        }
    }
}

.footer{
    font-family: 'Raleway', sans-serif;
    color: white;
    padding: 1em 10% 5em 15%;
    background-color: $back-color;
    height: 50em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: space-between;

    h1{
        @extend %h1-option;
        align-self: flex-start;
        margin: 20px 0;
    }
    h2{
        @extend %h2-option; 
        align-self: baseline;
    }
    h3{
        font-size: 22px;
        font-weight: 800;
    }
    .contacts__info{
        align-self: baseline;
    }

    .footer__form{
        height: 40em;
        width: 40em;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;

        div{
            padding: 1.5em 0;
            width: 100%;
            height: 3em;
            display: flex;


            input{
                width: 100%;
                height: 100%;
                padding: 0 2em;
                border-radius: 5px;
                border: none;
                letter-spacing: 0.15em;
            }
            input:focus{
                outline: none;
            }   
        }
        textarea{
            margin: 2em 0;
            padding: 1.1em 2em;
            width: 36.2em;
            height: 10em;
            border-radius: 5px;
            border: none;
            resize: none;
            overflow: auto;
            line-height: 1.5em;
            letter-spacing: 0.15em;
        }
        textarea:focus{
            outline: none;
        } 
        button{
            width: 100%;
            height: 10%;
            border-radius: 5px;
            background-color: $mcolor;
            border: none;
            color: white;
            font-size: 24px;
            font-weight: 700;
            cursor: pointer;
            outline: none;
        }
    }
}
